@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th class="hidden-xs">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="hidden-xs">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                @*This part is for admins*@
                @*<th>
                    عملیات
                </th>*@
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="hidden-xs">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="hidden-xs">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                        
                    </td>*@
                </tr>
            }

        </tbody>
    </table>
</div>