@model UserRolesViewModel

@{
    ViewData["Title"] = "ویرایش نقش ها";
}

<form asp-route-Id="@Model.Id" asp-action="EditRoles" method="post">
    <div class="card">
        <div class="card-header">
            <h2>مدیریت دسترسی ها</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Roles.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.Roles[i].Id" />
                    <input type="hidden" asp-for="@Model.Roles[i].Name" />
                    <input asp-for="@Model.Roles[i].Included" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.Roles[i].Included">
                        @Model.Roles[i].Name
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="ثبت" class="btn btn-primary" style="width: auto" />
            <a asp-action="Edit" asp-route-Id-="@Model.Id" class="btn btn-primary" style="width: auto">Cancel</a>
        </div>
    </div>
</form>